<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4692faa3-edec-44d7-b6a2-8fbebb0da5a1/resourceGroups/MyResourceGroup/providers/Microsoft.ContainerRegistry/registries/Mycontainerapp20231214200525</ResourceId>
    <ResourceName>Mycontainerapp20231214200525</ResourceName>
    <ResourceGroup>MyResourceGroup</ResourceGroup>
    <Subscription>Pay-As-You-Go</Subscription>
    <RegistryUrl>https://mycontainerapp20231214200525.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e62ad2f0-d8db-4b05-860a-001db553a52a</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>